LOCALSTACK_AUTH_TOKEN=

FORGE_DB_NAME=
FORGE_DB_USER=
FORGE_DB_PASSWORD=

FORGE_API_PORT=
FORGE_POSTGRES_HOST_PORT=
FORGE_REDIS_HOST_PORT=
FORGE_LOCALSTACK_HOST_PORT=

FORGE_S3_REGION=
FORGE_S3_ACCESS_KEY=
FORGE_S3_SECRET_KEY=
FORGE_S3_BUCKET=
